<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CentralisedOutlookSignature.Service.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
      <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <applicationSettings>
    <CentralisedOutlookSignature.Service.Properties.Settings>
      <setting name="SignatureRepository" serializeAs="String">
        <value>C:\Users\hoegling_be\Documents\Visual Studio 2013\Projects\CentralisedOutlookSignature\CentralisedOutlookSignature\Templates</value>
      </setting>
      <setting name="RxListenPort" serializeAs="String">
        <value>27303</value>
      </setting>
      <setting name="WatcherFilter" serializeAs="String">
        <value>*.*</value>
      </setting>
    </CentralisedOutlookSignature.Service.Properties.Settings>

    <!-- This section contains the log4net configuration settings -->
    <log4net debug="false">
      <!-- Define some output appenders -->
      <!-- Use the remoting appender -->
      <appender name="RemotingAppender" type="log4net.Appender.RemotingAppender">
        <!-- The remoting URL to the remoting server object -->
        <sink value="tcp://zensapp01.ddw.local:8085/Log4netRemotingServerService" />
        <!-- Send all events, do not discard events when the buffer is full -->
        <lossy value="false" />
        <!-- The number of events to buffer before sending -->
        <bufferSize value="95" />
        <!-- Do not store event data that is slow to generate -->
        <onlyFixPartialEventData value="true" />
        <!-- Specify an evaluator to send the events immediatly under
			     certain conditions, e.g. when an error event ocurrs -->
        <evaluator type="log4net.Core.LevelEvaluator">
          <threshold value="INFO" />
        </evaluator>
      </appender>
      <!-- Setup the root category, add the appenders and set the default priority -->
      <root>
        <level value="DEBUG" />
        <appender-ref ref="RemotingAppender" />
      </root>
    </log4net>
  </applicationSettings>
</configuration>